// Fonts

@font-face {
  font-family: "WorkSans-Black";
  src: url("/fonts/WorkSans-Black.woff2") format("woff2"),
    url("/fonts/WorkSans-Black.woff") format("woff"),
    url("/fonts/WorkSans-Black.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "Sentinel-Book";
  src: url("/fonts/Sentinel-Book.woff2") format("woff2"),
    url("/fonts/Sentinel-Book.woff") format("woff"),
    url("/fonts/Sentinel-Book.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "Sentinel-Book";
  src: url("/fonts/Sentinel-BookItalic.woff2") format("woff2"),
    url("/fonts/Sentinel-BookItalic.woff") format("woff"),
    url("/fonts/Sentinel-BookItalic.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: italic;
}

@font-face {
  font-family: "Sentinel-Bold";
  src: url("/fonts/Sentinel-Bold.woff2") format("woff2"),
    url("/fonts/Sentinel-Bold.woff") format("woff"),
    url("/fonts/Sentinel-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: auto;
}

// Functions

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

// Mixins

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// Variables

$min-width: 320px;
$max-width: 1200px;
$min-font: 18px;
$max-font: 26px;
$mod-1: 1.2; // mobile
$mod-2: 1.35; // desktop

// Styles

html {
  @include fluid-type($min-width, $max-width, $min-font, $max-font);
}

html,
body {
  font-family: "Sentinel-Book", $font-fallback;
  line-height: 140%;
}

h1 {
  font-size: $mod-1 * $mod-1 * $mod-1 * $mod-1 * 1rem;
  @include fluid-type(
    $min-width,
    $max-width,
    $mod-1 * $mod-1 * $mod-1 * $mod-1 * $min-font,
    $mod-2 * $mod-2 * $mod-2 * $mod-2 * $min-font
  );
  font-family: WorkSans-Black, $font-fallback;
  @media (max-width: $breakpoint) {
    letter-spacing: -0.02em;
  }
}

h2 {
  font-size: $mod-1 * $mod-1 * $mod-1 * 1rem;
  @include fluid-type(
    $min-width,
    $max-width,
    $mod-1 * $mod-1 * $mod-1 * $min-font,
    $mod-2 * $mod-2 * $mod-2 * $min-font
  );
  font-family: WorkSans-Black, $font-fallback;
}

h3 {
  font-size: $mod-1 * $mod-1 * 1rem;
  @include fluid-type(
    $min-width,
    $max-width,
    $mod-1 * $mod-1 * $min-font,
    $mod-2 * $mod-2 * $min-font
  );
  font-family: WorkSans-Black, $font-fallback;
  margin-block-end: 0rem;
  margin-block-start: 0rem;

  @media (max-width: $breakpoint) {
    letter-spacing: -0.02em;
  }
}

a {
  color: $primary;
  text-decoration: none;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
}

p {
  margin-block-start: 0;
}
