$primary: rgb(30, 144, 255);
$font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$max-width: 900px;
$breakpoint: 600px;
