@import "variables";
@import "typography";

html,
body {
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background: var(--expo-theme-background-default);
}

* {
  box-sizing: border-box;
}
