@import "variables";

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $background-light;
  color: $text-light;
}

.container.dark {
  background: $background-dark;
  color: $text-dark;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: $max-width;
}
