@import "variables";

.container {
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;

  @media (max-width: $breakpoint) {
    grid-template-columns: 1fr;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  @media (max-width: $breakpoint) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.title {
  margin-right: 0.5rem;

  @media (max-width: $breakpoint) {
    margin-bottom: 0.35rem;
  }
}

.linkContainer {
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 0.35rem;
  transition: 50ms;

  > * {
    transform: translate3d(0, 0, 0);
  }

  :hover {
    opacity: 0.9;
    transition: 50ms;
  }
}

.link {
  // height: 1rem;
  // width: 1rem;
  min-height: 24px;
  min-width: 24px;
  background-color: $primary;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;
}

.projectImage {
  max-height: 60px;
  max-width: 60px;
  border-radius: 0.5rem;
  box-shadow: var(--expo-theme-shadows-small);

  @media (max-width: $breakpoint) {
    margin-bottom: 0.5rem;
  }
}
