@import "variables";

.container {
  margin-bottom: 2rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.title {
  margin-right: 0.25rem;
}

.link {
  height: 1rem;
  width: 1rem;
  min-height: 24px;
  min-width: 24px;
  background-color: $primary;
  margin-left: 0.35rem;
  padding: 6px;
  border-radius: 3px;
  color: $background-light;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;
}

.link.dark {
  color: $background-dark;
}
