@import "variables";

.container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
}

.gridContainer {
  display: grid;
  gap: 40px;
}

.headerContainer {
  margin-left: 20px;
}

.header {
  margin-top: -10px;
  margin-bottom: 40px;
}

.cardContainer {
  border-radius: 20px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.18);
}

.row {
  padding: 20px;
  padding-bottom: 0px;
  border-bottom: 1px solid #e5e5e5;
}

.rowInner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.rowTitle {
  margin-bottom: 8px;
  font-family: "Sentinel-Bold";
}

.rowLast {
  border-bottom: none;
}

.differenceContainer {
  text-align: center;
  padding: 40px;

  > h1,
  h2,
  p {
    line-height: 1.2;
    margin: 0;
  }

  > h2 {
    margin-bottom: 40px;
  }
}

.calContainer {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.18);
  overflow: hidden;
  max-width: 220px;
  margin: auto;
  margin-bottom: 20px;
}

.calHeader {
  background: #c73f3f;
  padding: 15px;
  color: white;
}

.calDate {
  padding: 5px;
  font-size: 4em;
}

.headerRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
  background: #e5e5e5;
  position: sticky;
  top: 0;

  > p {
    margin: 0;
  }
}
